<head>
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<div class="contact-section">
  <div class="region">
    <h2>Región Central</h2>
    <div class="contact-info">
      <p><strong>Email:</strong> <a href="mailto:hola&#64;olimpiadasespeciales.cr"> hola&#64;olimpiadasespeciales.cr</a></p>
      <p><strong>Teléfono:</strong> +506 2224 0000</p>
      <p><strong>Horario:</strong> Lunes a Viernes, 9:00 AM - 5:00 PM</p>
    </div>
  </div>
</div>
<div class="contact-section">
  <h2>Encargados por Deporte</h2>
</div>

<div class="contact-section">
  <div class="region">
    <h2>Aguas Abiertas</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Melissa González Calderón</p>
      <p><strong>Teléfono:</strong> 88257525</p>
      <p><strong>Email:</strong> <a href="mailto:mely.glez03&#64;gmail.com">mely.glez03&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Atletismo</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Milagro Quiros Solano</p>
      <p><strong>Teléfono:</strong> 8387-0225</p>
      <p><strong>Email:</strong> <a href="mailto:qsmila&#64;gmail.com">qsmila&#64;gmail.com</a></p>
      <p><strong>Nombre:</strong> Julio Contreras Monge</p>
      <p><strong>Teléfono:</strong> 8878-9681</p>
      <p><strong>Email:</strong> <a href="mailto:jcesarcontreras&#64;gmail.com">jcesarcontreras&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Badmington</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Adrian Gómez</p>
      <p><strong>Teléfono:</strong> 83864820</p>
      <p><strong>Email:</strong> <a href="mailto:adriangomezcr&#64;yahoo.es">adriangomezcr&#64;yahoo.es</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Baloncesto</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Ronald Cervantes Carvajal </p>
      <p><strong>Teléfono:</strong> 61429875</p>
      <p><strong>Email:</strong> <a href="mailto:romaceca&#64;live.com">romaceca&#64;live.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Balonmano</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Oldemar Quesada Navarro</p>
      <p><strong>Teléfono:</strong> 8879-0085</p>
      <p><strong>Email:</strong> <a href="mailto:oldemar.quesada&#64;gmail.com">oldemar.quesada&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Beisbol 5</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Alexander Pereira Rojas</p>
      <p><strong>Teléfono:</strong> 8980-7632</p>
      <p><strong>Email:</strong> <a href="mailto:alexpr&#64;hotmail.es">alexpr&#64;hotmail.es</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Bochas</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Cristian Sancho Moreira</p>
      <p><strong>Teléfono:</strong> 8823-3235</p>
      <p><strong>Email:</strong> <a href="mailto:cgsancho16&#64;gmail.com">cgsancho16&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Ciclismo</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Juan Carlos Córdoba Jiménez</p>
      <p><strong>Teléfono:</strong> 8451-7754</p>
      <p><strong>Email:</strong> <a href="mailto:juancarloscj&#64;yahoo.com">juancarloscj&#64;yahoo.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>ECUESTRE</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Moserrat Castro</p>
      <p><strong>Teléfono:</strong> 88355021</p>
      <p><strong>Email:</strong> <a href="mailto:montsecastro&#64;me.com">montsecastro&#64;me.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Futbol</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Jorge Ramos Bonilla</p>
      <p><strong>Teléfono:</strong> 89382854</p>
      <p><strong>Email:</strong> <a href="mailto:kike8415&#64;hotmail.com">kike8415&#64;hotmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Gim Rítmica</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Grettel Calderon Vargas</p>
      <p><strong>Teléfono:</strong> 7108-9253</p>
      <p><strong>Email:</strong> <a href="mailto:grettel3007&#64;gmail.com">grettel3007&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Golf</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> José Quesada</p>
      <p><strong>Teléfono:</strong> 8814-4653</p>
      <p><strong>Email:</strong> <a href="mailto:jose.quesada&#64;marriott.com">jose.quesada&#64;marriott.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Judo</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Alejandro Cano Sandoval</p>
      <p><strong>Teléfono:</strong> 8832-4374</p>
      <p><strong>Email:</strong> <a href="mailto:canojudoclub&#64;hotmail.com">canojudoclub&#64;hotmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Kayak</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Kennet Brenes</p>
      <p><strong>Teléfono:</strong> 88639406</p>
      <p><strong>Email:</strong> <a href="mailto:comitedeportesturrialba&#64;gmail.com">comitedeportesturrialba&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Levant Pesas</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Adriana Vargas</p>
      <p><strong>Teléfono:</strong> 8518-3846</p>
      <p><strong>Email:</strong> <a href="mailto:avargassab&#64;gmail.com">avargassab&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Natación</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Patricia Salazar Villalobos</p>
      <p><strong>Teléfono:</strong> 8820-9421</p>
      <p><strong>Email:</strong> <a href="mailto:psalazar&#64;olimpiadasespeciales.cr">psalazar&#64;olimpiadasespeciales.cr</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Tenis Campo</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Carlos Mora</p>
      <p><strong>Teléfono:</strong> 8845-0523</p>
      <p><strong>Email:</strong> <a href="mailto:tenis&#64;country.co.cr">tenis&#64;country.co.cr</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Tenis Mesa</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Harol Díjeres Ajun</p>
      <p><strong>Teléfono:</strong> 8367-3541</p>
      <p><strong>Email:</strong> <a href="mailto:hdajun&#64;hotmail.com">hdajun&#64;hotmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Triatlón</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Francisco Brizuela</p>
      <p><strong>Teléfono:</strong> 88580634</p>
      <p><strong>Email:</strong> <a href="mailto:entrenamientoscoach18&#64;gmail.com">entrenamientoscoach18&#64;gmail.com</a></p>
    </div>
  </div>

  <div class="region">
    <h2>Voleibol Playa</h2>
    <div class="contact-info">
      <p><strong>Nombre:</strong> Fabiola Quirós Alfaro</p>
      <p><strong>Teléfono:</strong> 86336305</p>
    </div>
  </div>
</div>
